@model IEnumerable<ServiciosDigitalesProy.Models.Producto>

@{
    Layout = null;
}


<section class="panel">
    <div class="panel-body">
        <div class="tab-content">
            <div id="home-3" class="tab-pane active">
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Base de datos Productos
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <table width="100%" class="table table-striped table-bordered table-hover" id="table-inicial">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <b>Nombre</b>
                                                    <td>
                                                        <b>Precio Costo</b>
                                                    </td>
                                                    <td>
                                                        <b>Precio Venta</b>
                                                    </td>
                                                    <td>
                                                        <b>Cant. Existencias</b>
                                                    </td>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Count() != 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.nombre)
                                                            </td>
                                                            <td>
                                                                $@Html.DisplayFor(modelItem => item.precio_costo)
                                                            </td>
                                                            <td>
                                                                $@Html.DisplayFor(modelItem => item.precio_venta)
                                                            </td>
                                                            <td>
                                                                 @Html.DisplayFor(modelItem => item.cantid)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Agregar", "AdicionarProductoAFactura", new RouteValueDictionary(new { id = item.id_producto }))
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td style="color: red;"><b>No hay Productos disponibles actualmente. Verifique el inventario.</b></td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </div>
        </div>
    </div>
</section>
