@model IEnumerable<ServiciosDigitalesProy.Models.TipoIdentificacion>
@*@using ServiciosDigitalesProy.Models
@model List<TipoIdentificacion>*@
@{
    ViewBag.Title = "ConsultarClientes";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Consultar Clientes</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos del cliente
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @*@using (Ajax.BeginForm("ConsultarClientes", null, new AjaxOptions { UpdateTargetId = "contentPage" }, new { @class = "form-horizontal form-label-left form" }))*@
                            @using (Html.BeginForm("ConsultarClientes","Usuarios", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label for="disabledSelect">Tipo de Identificación</label>
                                    <select id="disabledSelect" class="form-control"> 
                                        <option>Seleccione</option>
                                        @foreach (var item in Model)
                                        {
                                            <option>@item.Descripcion</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Documento de Identidad</label>
                                    @Html.TextBox("identificacion", String.Empty, new { @class = "form-control", @type = "number"})
                                </div>
                                <button type="submit" name="submitButton" id="submitButton" class="btn btn-primary">Consultar</button>
                            }
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>