    <div class="row">
        <div class=" col-md-offset-1">
            <div class="footer-copyright" style="color: darkgray;">
                <br>
                &copy;  @DateTime.Now.Year - Portal Web 
                <br>
                 Jonathan Muñoz 
                <br>
                 Carlos Ortiz
            </div>
        </div>
    </div>
