<style>
    .modal-body {
        padding: 0px;
    }

    .modal-dialog {
        width: 900px;
    }


    .modal-header {
        background-color: #428bca;
        border-color: #357ebd;
        height: 50px;
    }

        .modal-header .close {
            margin-top: -20px;
            margin-right: 20px;
        }
</style>

<div id=miModalBuscarCliente class="modal fade" aria-hidden="true" style="display:none;border-style: solid;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h5 class="modal-title"><b>Consulta de Clientes</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-sign-out"></i></span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="background-color: white;">
                <div id="modal-content1" style="height: 300px;">
                    Cargando...
                </div>
            </div>
        </div>
    </div>
</div>

