@{
    ViewBag.Title = "Inicio";
}


<img src="@Url.Content("/Xcore/Imagenes/paginaPrincipal.JPG")" style="height: 100%;width: 100%;"/>
@*<div id="wrapper"   style="background-color:white;">
    
</div>*@
<!-- /#page-wrapper -->