    <div class="row">
        <div class=" col-md-offset-1">
            <div class="footer-copyright" style="color: darkgray;    text-align: center;">
                <br>
                &copy;  @DateTime.Now.Year - Portal Web - Jonathan Muñoz - Carlos Ortiz
            </div>
        </div>
    </div>
